<h1><%= @hotspot.name %> birds</h1>
<h4><%= link_to "Sort Birds by Name", :sort => "name"%></h4>
<% @birds.each do |bird| %>
  <h3><%= bird.name %></h3>
  <p>Behavior: <%= bird.behavior %></p>
  <p>Quantity: <%= bird.quantity %></p>
  <p>Was it a raptor?: <%= bird.raptor %></p>
<% end %>

<%= link_to 'Add New Bird to Hotspot', "/hotspots/#{@hotspot.id}/birds/new" %>