<h1>Birds</h1>

<% @birds.each do |bird| %>
  <h3><%= bird.name %></h3>
  <p>What was it doing?: <%= bird.behavior %></p>
  <p>How many?: <%= bird.quantity %></p>
  <p>Was it a raptor?: <%= bird.raptor %></p>
  <p>Where did you see it?: Hotspot No. <%= bird.hotspot_id %></p>
<% end %>