<h1><%= @bird.name %></h1>

<p>Behavior: <%= @bird.behavior %></p>
<p>Quantity: <%= @bird.quantity %></p>
<p>Was it a raptor?: <%= @bird.raptor %></p>
<p>Which hotspot?: Hotspot No. <%= @bird.hotspot_id %></p>