<h1><%= @bird.name %></h1>

<p>What was it doing?: <%= @bird.behavior %></p>
<p>How many?: <%= @bird.quantity %></p>
<p>Was it a raptor?: <%= @bird.raptor %></p>
<p>Where was it seen?: Hotspot No. <%= @bird.hotspot_id %></p>