<h1><%= @hotspot.name %></h1>
<h4>Total Number of Bird Species Seen: <%= @hotspot.bird_count %></h4>
<p><a href="/hotspots/<%= @hotspot.id %>/birds">View Bird Species</a></p>

<p>Location: <%= @hotspot.county %> County</p>
<p>Hotspot Rank: <%= @hotspot.rank %></p>
<p>Accessible?: <%= @hotspot.accessible %></p>

<h6>
  <%= button_to "Edit #{@hotspot.name}",
  "/hotspots/#{@hotspot.id}/edit",
  method: :get %>
</h6> 